<%- include("header") -%> 



<h2>About Page</h2>

<p>
    This website is made by Cyril Hancock using HTML ,CSS ,BOOTSTRAP ,JS
     NODEJS ,NPM ,EXPRESSJS AND EJS. 
</p>








<%- include("footer") -%> 